.main-card{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card{
  padding-bottom: 60px;
}

.user-search{
  width: 30%;
  padding-bottom: 30px;
}

.card-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
