.main-card{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card{
  padding-bottom: 60px;
}

.user-search{
  width: 30%;
  padding-bottom: 30px;
}

.card-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-form{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-bottom: 50px;
}

form{
  width: 30%;
  border: 2px solid #1556a0;
  padding: 35px
}

.navbar-left{
  height: 100px;
  width:40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-right{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.navbar-right button{
  border-color: #1556a0;
}

.error-validation{
  font-size: 17px;;
  padding-bottom: 10px;
  color:rgb(209, 9, 9);
}

.profile-not-exists{
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  align-items: center;
  color:rgb(209, 9, 9);
}
